@keyframes efecto_logo{
    0%{
            font-size: 30px;
            font-style: oblique;
            color: rgb(101,98,98);
    }
    25%{
            font-size: 30px;
            font-style: oblique;
            color:  rgb(113, 39, 182);
    }
    50%{
            font-size: 30px;
            font-style: oblique;
            color: rgb(101,98,98);
    }
    75%{
            font-size: 30px;
            font-style: oblique;
            color:  rgb(113, 39, 182);
    }
    100%{
            font-size: 30px;
            font-style: oblique;
            color: rgb(101,98,98);
    }
    
}