$color_body: linear-gradient(to right,  rgb(228, 228, 192),rgb(150, 150, 135));
$color_hd_ft: rgb(194, 208,135 );
$color_link:  rgb(86, 84, 84);
$color_link_hv: rgb(113, 39, 182);
$font: Verdana, Geneva, Tahoma, sans-serif;
$color_brd:   rgb(176, 175, 175);
$colior_brd_hv: rgb(0,0,0);