*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@import
"./partials/variables",
"./partials/mixin",
"./partials/extend",
"./partials/keyframes",
 "./partials/mediascr";

body{
    background-image: map-get($estilos,color_body);
    font-family: map-get($estilos,font);
    font-size: 13px;
    color: map-get($estilos,color_link);

}



h1, h2{
     font-family: map-get($estilos,font);
     font-size: 20px;
     font-weight: bold;
     
        ;
}


header{
    background-color: map-get($estilos,color_hd_ft);
    display: flex;
    font-size: 1.125em;
    justify-content: space-around;
    grid-area: header;

}

.navegacion{
    width: 90px;
    height: 50px;
    font-size: 13px;
    font-weight: bolder;
    color: map-get($estilos, color_link_hv);
    &:hover{
            font-weight: bold;
            text-decoration: underline;
            color: map-get($estilos,color_link);
    }

}



footer{
    background-color: map-get($estilos,color_hd_ft);
    top: 0;
    width:100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    p{
   
        margin-top: 10px;
        color: map-get($estilos, color_link_hv);
        font-weight:549;
    }
 }


.shampoo, .blog, .acond, .tratamiento, .index{
    margin: 10px;
    border: 2px solid map-get($estilos,color_brd);
    max-width: 700px;
    max-height: 350px;
    height: 90%;
    width: 90%;
    transition: height 1s, width 1s;
    &:hover{
        border: 2px solid map-get($estilos,colior_brd_hv);
        max-width: 705px;
        max-height: 355px;
        height: 91%;
        width: 91%;
    }
}

form{
    padding: 10px 10px 10px 20px;
}


.fb, .ig, .pint{
    color: map-get($estilos, color_link_hv);
    padding-top: 20px;
    font-weight: 549;
    &:hover{
        color: map-get($estilos, color_link);
        font-weight: bold;
    }
}

.btn-primary{
    @include buttons(normal,map-get($estilos,color_hd_ft),map-get($estilos,color_link));

    &:hover{
        @include buttons(bold,map-get($estilos, color_link_hv),map-get($estilos,color_hd_ft));

         }
    &:active{
        @include buttons(normal,map-get($estilos,color_hd_ft),map-get($estilos,color_link));
    }

}

#foto1{
    display: flex;
    object-fit:none;
    align-items: center;
    justify-content: center;
}

#foto2{
    display:flex;
    object-fit: contain;
    align-content: center;
    justify-content: center;
}

#txt1{
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
}

#txt2{
    display:flex;
    align-items: center;
    justify-items: center;
    p{
        align-content: center;
    }
}

.border{
    border: 1px solid map-get($estilos, color_brd);
}

.logo{
    animation-name: efecto_logo;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-delay: 0s;

}

p{
    font-size: 15px;
    line-height: 1cm;
    margin: 5 px auto;
    align-items: left;
}


textarea{
    width: 500px;
    height: 700px;
    background-color:map-get($estilos,color_frm);
    border: 1px solid;
    border-color: map-get($estilos, color_hd_ft );
}

#contacto{
    background-color: map-get($estilos,color_link_hv);
    color: map-get($estilos, color_hd_ft);
    font-size: 18px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 5px;
}

#nombre, #apellido, #email, #pais, #producto{
    background-color:map-get($estilos,color_frm);
    border: 1px solid;
    border-color: map-get($estilos, color_brd );
}

.fondo{
    background-color:map-get($estilos, color_link_hv );
    margin-top:10px;
    padding:0px;
    height: 20px;
}

.pie{
    text-decoration: none;
    font-size: 15px;
    color: map-get($estilos, color_link_hv );
    &:hover{
        color: map-get($estilos, color_link )
    }
}

.mapa{
    margin-bottom: 20px;;
    a{
        text-decoration: none;
        font-size: 15px;
        color: map-get($estilos, color_link_hv );
        &:hover{
            color: map-get($estilos, color_link )  
    };
}
}
