*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@import
"./partials/extend",
"./partials/maps",
"./partials/mixin",
 "./partials/keyframes",
 "./partials/mediascr";

body{
    background-image: map-get($estilos,$color_body);
    font-family: map-get($estilos,$font);
    font-size: 13px;
    color: map-get($estilos,$color_link);
    
}

h2{
     font-family: map-get($estilos,$font);
     font-size: 20px;     
     font-weight: bold;
}


header{
    background-color: map-get($estilos,$color_hd_ft);
    display: flex;
    font-size: 1.125em;
    justify-content: space-around;
    grid-area: header;
                 
}

.navegacion{
    @extend %flex_nv;
    width: 90px;
    height: 50px;
    ul{
        display: flex;
        li{
            width: 150px; 
            height: 20px;
            display: flex;
            flex-wrap: wrap;
            align-content:space-between;
            justify-content:space-evenly;
    
        }
    }
    a{
        font-size: 15px;
        font-weight: bold;
        color: map-get($estilos,$color_link);
        &:hover{
            font-weight: bold;
            text-decoration: underline;
            color: map-get($estilos,$color_link_hv);
        }
       }
}
    
 
  

footer{
    background-color: $color_hd_ft;
    @extend %flex_ft;
    top: 0;
    width:100%;
    height: 100%;
    grid-area: footer;
 } 


.shampoo, .blog, .acond, .tratamiento, .index{
    margin: 10px;
    border: 2px solid $color_brd;
    max-width: 700px;
    max-height: 350px;
    height: 90%;
    width: 90%;
    transition: height 2s, width 2s;
    &:hover{
        border: 2px solid $colior_brd_hv;
        max-width: 800px;
        max-height: 400px;
        height: 100%;
        width: 100%;
    }
}

form{
    padding: 10px 10px 10px 20px;
}


.fb, .ig, .pint{
    color: $color_link;
    padding:20px;
    &:hover{
        color: $color_link_hv;
        font-weight: bold;
    }
}

.btn-primary{
    @include buttons ($font_wt: normal, $bck_color: $color_hd_ft ,$color: $color_link);
    
    &:hover{
        @include buttons ($font_wt: bold, $bck_color: $color_link_hv ,$color: $color_hd_ft);
        
         }

}

#foto1{
    grid-area: foto1;
    display: flex;
    object-fit:cover;
    align-items: center;
    justify-content: center;
}

#foto2{
    grid-area: foto2;
    display:flex;
    object-fit: contain;
    align-content: center;
    justify-content: center;
}

#txt1{
    grid-area: txt1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    p{
        align-content: center;
    }      
}

#txt2{
    grid-area:txt2; 
    display:flex;
    align-items: center;
    justify-items: center;
    p{
        align-content: center;
    }
}

#grilla_idx{
    /* margin: 10px auto; */
    display: grid;
    grid-template-rows: repeat(4,auto);
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
            "header header header"
            "foto1 foto1 txt1"
            "txt2 foto2  foto2"
            "footer footer footer";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    footer{
        justify-content: center;
        align-content: center;
    }
 }


.border{
    border: 1px solid $color_brd;
}

.logo{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: left;
    justify-content: left;
    animation-name: efecto_logo;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-delay: 0s;
            
} 

        

p{
    font-size: 15px;
    line-height: 1cm;
    margin: 5 px auto;
}

